/* 
some scale 
https://www.modularscale.com/?18&px&1.067

*** Table of Contents ***

variables
Text-Highlight
Globals
Header
Cards
Footer

Media Queries
   900px
      header-900
      cards-900
   1100px
   1200px
*/


/* variables */
:root {
   --Pink: hsl(322, 100%, 66%);
   --Very-Pale-Cyan: hsl(193, 100%, 96%);
   --Very-Dark-Cyan: hsl(192, 100%, 9%);
   --Grayish-Blue: hsl(208, 11%, 55%);
}

/* Text-Highlight */ 

::selection {
   background: var(--Pink); /* WebKit/Blink Browsers */
}
::-moz-selection {
   background: var(--Pink); /* Gecko Browsers */
}

/* Globals */

html {
   box-sizing: border-box;
   font-size: 18px;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   font-size: 1rem;
   font-family: 'Open Sans', sans-serif;
   padding: 0;
   margin: 0;
   color: var(--Very-Dark-Cyan);
   text-align: center;
   line-height: 1.5;
   /* background-color: rgb(190, 188, 188); */
}

h1,
h2 {
   font-family: 'Poppins', sans-serif;
}


h2 {
   font-size: 1.215rem
   ;
}

p {
   font-size: 0.937rem;
}

img.L-illustration {
   width: 100%;
   margin-top: 20px;
}

.btn {
   text-decoration: none;
   border-radius: 50px;
   /* font-size: 0.823rem; */
   font-size: 0.723rem;
   color: var(--Very-Pale-Cyan);
   background-color: var(--Pink);
   font-weight: 700;
   padding: 13px 90px;
   display: inline-block;
   transition: .3s ease-in-out background-color,
   .3s ease-in-out color;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
}
.btn:hover,
.btn:focus {
   /* background-color: var(--Very-Pale-Cyan); */
   background-color: var(--Very-Dark-Cyan);
   /* color: var(--Pink); */
   color: var(--Very-Pale-Cyan);

} 

.m-margin {
   margin: 0 auto;
   width: 90vw;
}

/* Header ------------- */
header {
   background-color: var(--Very-Pale-Cyan);
   background-image: url(../images/bg-hero-mobile.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   margin: 0;
   padding: 10px 0 30px 0;
}

header h1 {
   font-size: 1.68rem;
   max-width: 335px;
   margin: 60px auto 20px auto;
}

header p {
   max-width: 320px;
   margin: 0 auto 30px auto;
}

header p + .btn {
   margin-bottom: 40px;
}

nav .btn {
   
   color: var(--Very-Dark-Cyan);
   background-color: white;
   padding: 5px 20px;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
   font-size: 0.823rem;
   display: block;
}
nav .btn:hover,
nav .btn:focus {
   background-color: var(--Pink);
   color: white;
}

nav {
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: 0 auto;
}
nav a {
   display: inline-block;
   
}

nav img {
   display: block;
   width: 126.703px;
   align-self: flex-start;
}

/* Cards ------------- */
.cards {
   padding: 70px 0 10px 0;
}
.card-items {
   background-color: white;
   box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13);
   border-radius: 15px;
   padding: 50px 0 50px 0;
   margin: 50px 0;
}
.card-items:nth-of-type(1){
   margin-top: 0;
}
.card-img-container {
   margin: 0 45px;
}
.card-text {
   margin: 60px 5vw 0 5vw;
}
.card-text p{
   font-size: 0.878rem;
}

.cards p {
   color: var(--Grayish-Blue);
}

aside h2 {
   font-size: 1rem;
   max-width: 307px;
   margin-right: auto;
   margin-left: auto;
}

aside.card-items {
   padding: 40px 2vw;
   margin: 20px auto auto auto;
   transform: translateY(65px);
}

aside .btn {
   margin-top: 10px;
   font-size: 0.678rem;
}

/* Footer ------------- */

footer {
   background-color: var(--Very-Dark-Cyan);
   color: var(--Very-Pale-Cyan);
   padding-top: 130px;
}

footer img {
   display: inline-block;
}

footer .contact-info {
   text-align: left;
   display: flex;
   flex-direction: column;
}

.contact-info p {
   padding: 0;
   margin: 0 0;
}

.company-logo {
   text-align: left;
}

footer img:nth-of-type(1){
   filter: contrast(0) brightness(100);
   width: 190.703px;
}

footer .contact-address img,
footer .contact-num img,
footer .contact-email img {
   width: 20px;
}

.contact-address,
.contact-num,
.contact-email {
   display: grid;
   grid-template-columns: 45px 1fr;
   justify-items: start;
   align-items: center;
   margin-top: 20px;
}

.contact-address img{
   align-self: start;
   padding-top: 6px;
}
.contact-address p {
   align-self: start;
}

.company-info {
   margin-top: 40px;
}

.company-info ul {
   flex-direction: column;
   text-align: left;
}

.company-info li {
   padding-top: 20px;
}

.company-info a {
   text-decoration: none;
   color: var(--Very-Pale-Cyan);
   transition: .3s color;
   position: relative;
}

.company-info a::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background-color: var(--Pink);
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 250ms ease-in;
}

.company-info a:hover::after {
   transform: scaleX(1);
   transform-origin: left;
}

.company-info a:hover,
.company-info a:focus {
   color: var(--Pink);
}

.company-info ul,
.social-icons ul {
   list-style-type: none;
   display: flex;
   padding-left: 0;
}

.social-icons {
   margin-top: 40px;
}

.social-icons ul{
   justify-content: center;
   display: inline-flex;
}

.social-icons li {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 7px;
}
.social-icons li > a {
   position: relative;
   display: block;
   text-align: center;
   color: var(--Very-Pale-Cyan);
   border: 1px solid var(--Very-Pale-Cyan);
   border-radius: 50%;
   width: 35px;
   height: 35px;
}

.social-icons a > i {
   font-size: 1.067rem;
   line-height: 34px;
}

.social-icons a > i.fa-twitter {
   font-size: 0.937rem;
   line-height: 35px;
}
.social-icons li.facebook:hover > a {
   background-color: white;
   color: #3b5999;
}
.social-icons li.twitter:hover > a {
   background-color: white;
   color: #46c1f6;
}
.social-icons li.instagram:hover > a {
   background-color: white;
   color: #e1306c;
}

.social-icons span {
   display: none;
}

.copyright {
   margin-bottom: 40px;
}

.copyright p{
   font-size: 0.723rem;
   color: var(--Very-Pale-Cyan);
}

.attribution {
   font-size: 11px; 
   text-align: center; 
   margin: 0 auto; 
}
.attribution a { 
   color: var(--Pink); 
   text-decoration: none;
}

.attribution a:hover,
.attribution a:focus {
   color: var(--Grayish-Blue);
   text-decoration: overline;
}


/* Media Queries ------------- */

/* 900px */

@media screen and (min-width: 900px) {
   
   body {
      text-align: unset;
   }

   img.L-illustration {
      margin-top: 0;
   }

   .btn {
      padding: 1rem 3.5rem;
   }

   /* header-900 */ 

   header {
      height: 100vh;
   }

   nav img {
      width: 180.703px;
   }

   nav .btn {
      padding: 10px 50px;
   }

   .header-content {
      display: grid;
      grid-template-columns: .8fr 1fr;
      justify-content: center;
      align-items: center;
      margin-top: 10vh;
   }

   header .header-img {
      margin-left: 10px;
      align-self: center;
      justify-self: center;
   }

   header h1,
   header p {
      text-align: left;
      margin-left: 0;
      margin-right: 0;
      align-self: end;
   }
   
   header h1 {
      font-size: 1.793rem;
      max-width: 365px;
   }
   header p {
      max-width: 480px;
   }

   /* cards-900 */

   .cards p {
      font-size: 1rem;
   }

   .cards h2 {
      font-size: 1.575rem;
      margin-top: 0;
   }
   
   .card-items:nth-child(1), 
   .card-items:nth-child(2),
   .card-items:nth-child(3) {
      display: grid;
      grid-template-columns: .8fr 1fr;
      grid-template-areas: 
         "left right";
      align-content: center;
      margin: 30px 0;
   }


   .card-items:nth-child(1),
   .card-items:nth-child(3) {
      grid-template-columns: 1fr .8fr;
   }

   .card-items:nth-child(1) .card-text,
   .card-items:nth-child(3) .card-text {
      grid-area: left;
   }
   .card-items:nth-child(1) .card-img-container,
   .card-items:nth-child(3) .card-img-container {
      grid-area: right;
   }

   .card-text {
      margin-top: 0;
      align-self: center;
   }

   aside.card-items {
      text-align: center;
      max-width: 575.5px;
   }

   .cards aside > h2 {
      font-size: 1.296rem;
      max-width: unset;
   }

   aside .btn {
      padding: 1rem 4.3rem;
      font-size: 0.823rem;
   }

   /* footer-900 */

   footer, 
   footer p {
      /* font-size: 12px; */
      font-size: 0.823rem;
   }

   .ftr-grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr .5fr;
      grid-template-rows: 70px 1fr 85px;
      grid-template-areas: 
         "logo logo logo"
         "contact info social"
         "ftr ftr ftr";
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
   }

   .company-logo {
      grid-area: logo;
   }

   .contact-info div:nth-child(1) {
      margin-top: 0;
   }

   .contact-address p {
      max-width: 300px;
   }

   .company-info {
      margin-top: 0;
      align-self: start;
   }

   .company-info ul{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
         "about career"
         "what blog"
         "faq contact";
      justify-content: center;
      align-content: center;
      margin: 0 30px;
   }
   .company-info li {
      justify-self: start;
      align-self: start;
      padding: 0 0 15px 0;
   }
   .company-info li:nth-child(1) {
      grid-area: about;
   }
   .company-info li:nth-child(2) {
      grid-area: what;
   }
   .company-info li:nth-child(3) {
      grid-area: faq;
   }
   .company-info li:nth-child(4) {
      grid-area: career;
   }
   .company-info li:nth-child(5) {
      grid-area: blog;
   }
   .company-info li:nth-child(6) {
      grid-area: contact;
   }

   .social-icons {
      justify-self: start;
   }
   .social-icons,
   .social-icons ul {
      margin-top: 0;
   }
   .social-icons li.facebook {
      margin-left: 0;
   }

   .copyright {
      grid-area: ftr;
      justify-self: end;
      align-self: center;
      margin: 0;
   }
}

/* 1100px */

@media screen and (min-width: 1100px) {
   .m-margin {
      max-width: 85vw;
   }
}


/* 1200px */

@media screen and (min-width: 1200px) {
   .m-margin {
      max-width: 80vw;
   }

   .header-img {
      max-width: 533.33px;
   }

   .header-text {
      margin-right: 10px;
   }
}












