/* variables */
:root {
   --Pink: hsl(322, 100%, 66%);
   --Very-Pale-Cyan: hsl(193, 100%, 96%);
   --Very-Dark-Cyan: hsl(192, 100%, 9%);
   --Grayish-Blue: hsl(208, 11%, 55%);
}

::selection {
   background: var(--Pink); /* WebKit/Blink Browsers */
}
::-moz-selection {
   background: var(--Pink); /* Gecko Browsers */
}

html {
   box-sizing: border-box;
   font-size: 18px;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   font-size: 1rem;
   font-family: 'Open Sans', sans-serif;
   padding: 0;
   margin: 0;
   color: var(--Very-Dark-Cyan);
   text-align: center;
   line-height: 1.5;
   /* background-color: rgb(190, 188, 188); */
}

h1,
h2 {
   font-family: 'Poppins', sans-serif;
}


h2 {
   font-size: 1.215rem
   ;
}

p {
   font-size: 0.937rem;
}

img.L-illustration {
   width: 100%;
   margin-top: 20px;
}

.btn {
   text-decoration: none;
   border-radius: 50px;
   font-size: 0.823rem;
   color: white;
   background-color: var(--Pink);
   font-weight: 700;
   padding: 13px 50px;
   display: inline-block;
   transition: .3s ease-in-out background-color,
   .3s ease-in-out color;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
}
.btn:hover,
.btn:focus {
   background-color: white;
   color: var(--Pink);
} 

.m-margin {
   margin: 0 20px;
}

/* Header ------------- */
header {
   background-color: var(--Very-Pale-Cyan);
   background-image: url(../images/bg-hero-mobile.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   margin: 0;
   padding: 10px 0 30px 0;
}

header h1 {
   font-size: 1.68rem;
   max-width: 335px;
   margin: 60px auto 20px auto;
}

header p {
   max-width: 320px;
   margin: 0 auto 30px auto;
}

header p + .btn {
   margin-bottom: 40px;
}

nav .btn {
   
   color: var(--Very-Dark-Cyan);
   background-color: white;
   padding: 5px 20px;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
   font-size: 0.823rem;
   display: block;
}
nav .btn:hover,
nav .btn:focus {
   background-color: var(--Pink);
   color: white;
}

nav {
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: 0 auto;
}
nav a {
   display: inline-block;
   
}

nav img {
   display: block;
   width: 126.703px;
   align-self: flex-start;
}

/* Cards ------------- */
.card-items {
   /* background-color: yellow; */
   box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13);
   border-radius: 15px;
   padding: 50px 0 50px 0;
   margin: 50px 0;
}
.card-img-container {
   margin: 0 45px;
}
.card-text {
   margin: 0 40px;
}
.card-text p{
   font-size: 0.937rem;
}

.cards p {
   color: var(--Grayish-Blue);
}



